header {
    z-index: 2;
    position: absolute;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.navbar-brand {
    margin-left: -10px;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    background: linear-gradient(180deg, #4D71EF 0%, #091618 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

ul {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: end;   
}

.nav_login {
    margin-right: 60px;
}

ul li {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    height: 18px;
    color: #808080;
    margin: 0px 20px 0px 0px;
    list-style: none;
}

.highlighted {
   color:  black;
   font-weight: 900;
}

.navbar-light .navbar-toggler {
    border-color: white;
}
.navbar-collapse{
    margin-right: 75px;
}

@media (max-width: 767px) {
    header {
        width: 100%;
    }

    .navbar-collapse {
        z-index: 1;
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        padding-top: 3.5rem;
        overflow-y: auto;
        transition: right 0.3s;
        background: #ffffff;
        box-shadow: -17px 4px 12px rgba(0, 0, 0, 0.25);
    }

    .navbar-brand {
        margin-left: 15%;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }

    .navbar-collapse.show {
        right: 0;
    }

    img {
        height: 36.02px;
    }

    ul {
        margin-left: 10px;
        margin-top: -50px;
    }

    ul li {
        margin: 20px;
        width: 38%;
    }
    ul li a{
        font-size: 18px;
    }
    .logo_menu {
        width: 100%;
        margin-top: -10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar_toggle_button {
        height: 25px;
        font-size: 40px;
        transform: rotate(45deg);

    }

    ul .signup {
        margin-left: 0;
        margin-top: 0;
        width: 120px;
        height: 42px;
        font-size: 20px;
        line-height: 100%;
        border-radius: 7px;
    }

}
