<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="logo_menu">
            <div style="margin-left: 75px;">
                <!-- <img src="../../assets/dashboard/s_logo.svg" alt="" style="margin-top: -10px;"> -->
                <a class="navbar-brand"><span>MilkHarbor</span></a>
            </div>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="ms-5 signup" routerLink="/admin-signup">Signup</button>
                </li>
                <li class="nav-item">
                    <button class="ms-5 login" routerLink="/login">Login</button>
                </li>
            </ul>
        </div>
    </nav>

</header>