<app-header></app-header>
<section>
    <!-- <h1>LogIn</h1> -->
    <div class="loginForm">
        <form [formGroup]="loginForm">
            <div class="logo">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="form-group">
                <label for="m_no">Mobile Number / Email / Username &nbsp;<span class="text-danger">*</span></label><br>
                <input class="form-control" type="text" id="m_no" formControlName="m_no"
                    placeholder=" Enter Mobile Number / Email / Username" required 
                    [ngClass]="{'error':(loginForm.controls['m_no'].touched || loginForm.controls['m_no'].dirty) && (loginForm.controls['m_no'].hasError('required'))}">
            </div>
            <div class="form-group">
                <label for="name">Password &nbsp;<span class="text-danger">*</span></label><br>
                <input class="form-control" type="password" formControlName="password"
                    placeholder=" Enter Password "  required minlength="8"
                    [ngClass]="{'error':(loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && (loginForm.controls['password'].hasError('required')) ||(loginForm.controls['password'].hasError('pattern')) || (loginForm.controls['password'].hasError('minLength')) }">
            </div>
            <div class="btn">
                <button class="signup mt-3" [ngClass]="{'disabled':!loginForm.valid}" [disabled]="!loginForm.valid" (click)="onLogin()">Login</button>
            </div>
        </form>
    </div>
</section>
<div class="load" *ngIf="isLoader">
    <span class="loader"></span>
</div>
