<div class="pendingFarmers">
    <div class="title text-center m-3">
        <h1>Farmers List</h1>
    </div>
    <div class="searchbar">
        <input type="text" id="search1" placeholder="Serch Farmer" style="width: 350px; border-radius: 5px;" [(ngModel)]="searchQuery" (input)="filterItems()" autocomplete="off" 
        [readOnly]="getSize()>0">
        <div class="actions" *ngIf="getSize()>0">
            <button class="action" (click)="onActive()">ACTIVE</button>
            <button class="action" (click)="onInActive()">INACTIVE</button>
            <button class="action" (click)="onDelete()">DELETE</button>
        </div>
            <div class="all">
                <label for="all">ALL</label>&nbsp;&nbsp;
                <input type="checkbox" id="all" class="large" [value]="-1" [(ngModel)]="selectAll"
                (change)="onFarmer($event)">
            </div>
    </div>
    <div class="farmers row" *ngIf="items.length>0">
        <div class="pending col-md-3" *ngFor="let farmer of items">
            <div class="img">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="info">
                <h3>{{farmer.username}}</h3>
                <h6>{{farmer.name}}</h6>
                <h6>{{farmer.m_no}}</h6>
                <h6>{{farmer.address}}</h6>
            </div>
            <div class="checkBox" *ngIf="farmer.role=='FARMER'">
                <input type="checkbox" class="large" [checked]="farmer.isActive" [value]="farmer._id"
                (change)="onFarmer($event)">
            </div>
            <div class="status" *ngIf="farmer.role=='FARMER'">
                <span [ngClass]="{'active':farmer.is_active}" *ngIf="farmer.is_active">ACTIVE</span>
                <span [ngClass]="{'inactive':!farmer.is_active}" *ngIf="!farmer.is_active">INACTIVE</span>
            </div>
            <div class="status" *ngIf="farmer.role=='ADMIN'">
                <span class="" *ngIf="farmer.is_active">ADMIN</span>
            </div>
        </div>
    </div>
    <div class="farmers row" *ngIf="items.length==0">
        not found
    </div>
</div>
<div class="load" *ngIf="isLoading">
    <span class="loader"></span>
</div>