.pendingFarmers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.farmers {
    margin-left: 10px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.searchbar input {
    height: 30px;
    padding-left: 10px;
}

.searchbar input:focus {
    border: none;
}

#all {
    font-size: 30px;
}

.all {
    display: flex;
    align-items: center;
    margin-right: 85px
}

.pending {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #F7F7F7;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 9px 0px;
    padding: 1%;
    margin: 8px;
    position: relative;
}

.info {
    width: 230px !important;
    margin-left: 10px;
}

.info h3 {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.info h6 {
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0 !important;
}

.checkBox {
    margin-top: -50px;
}

.img i {
    font-size: 60px;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}

.actions{
    margin-left: 250px;
}
.action{
    width: 100px;
    height: 30px;
    border: none;
    border:2px solid  #435184;
    background:transparent;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #435184;
    border-radius: 8px;
    margin-left: 10px;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.active{
    border: 2px solid green;
    color: green!important;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;
}
.inactive{
    border: 2px solid red;
    color: red!important;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;

}