.pendingFarmers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.farmers {
    margin-left: 10px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.searchbar input {
    height: 30px;
    padding-left: 10px;
}

.searchbar input:focus {
    border: none;
}

#all {
    font-size: 30px;
}

.all {
    display: flex;
    align-items: center;
    margin-right: 85px
}

.pending {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #F7F7F7;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 9px 0px;
    padding: 1%;
    margin: 8px;
    position: relative;
    cursor: pointer;
}

.info {
    width: 230px !important
}

.info h3 {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.info h6 {
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.checkBox {
    margin-top: -50px;
}

.img i {
    font-size: 60px;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}

.actions{
    margin-left: 300px;
}
.action{
    width: 100px;
    height: 30px;
    border: none;
    border:2px solid  #435184;
    background:transparent;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #435184;
    border-radius: 8px;
    margin-left: 10px;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.active{
    border: 2px solid green;
    color: green!important;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;
}
.inactive{
    border: 2px solid red;
    color: red!important;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;

}

.payment-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(2px);
}

.popup{
    width: 30%;
    height: 450px;
    background-color: #FFF;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-left: -300px;
}

.popup .row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: #435184;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.active1{
    background-color: #435184;
    color: #FFF;
}
.popup .row1 span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    height: 50px;
}

.details{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 50px;
}
.total{
    font-weight: 600;
}

.details span{
    font-size: 20px;
}

.details input{
    height: 40px;
    padding: 10px;
}
