<div class="pendingFarmers">
    <div class="title text-center m-3">
        <h1>Payment Details</h1>
    </div>
    <div class="searchbar">
        <input type="search" placeholder="Serch Farmer" style="width: 350px; border-radius: 5px;">
    </div>
    <div class="farmers row">
        <div class="pending col-md-3" *ngFor="let farmer of FarmersList" (click)="onFarmer(farmer)">
            <div class="img">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="info">
                <h3>{{farmer.username}}</h3>
                <h6>{{farmer.name}}</h6>
                <h6>{{farmer.m_no}}</h6>
            </div>
        </div>
    </div>
    <div class="payment-info" (click)="onClose2()" *ngIf="isPopup">
        <div class="popup" (click)="onClose($event)">
            <div class="row1">
                <span [ngClass]="{'active1':isDetails}" (click)="onDetails()">Payment Details</span>
                <span [ngClass]="{'active1':isHistory}" (click)="onHistory()">Payment History</span>
            </div>
            <div class="details" *ngIf="isDetails">
                <span >Farmer Name : <span class="total">{{farmer.name}} </span></span><br>
                <span >Username : <span class="total">{{farmer.username}} </span></span><br>
                <span>Mobile Number :<span class="total"> {{farmer.m_no}} </span></span><br>
                <span>Supply Milk Total :<span class="total">{{supplyTotal | currency:'INR'}}</span> </span><br>
                <span>Advance Total : <span class="total">{{advanceTotal | currency:'INR'}} </span></span><br>
                <span>Total Bill :
                    <span class="total" *ngIf="supplyTotal-advanceTotal>0">{{supplyTotal-advanceTotal | currency:'INR'}} </span>
                    <span class="total" *ngIf="supplyTotal-advanceTotal<=0">{{0 | currency:'INR'}} </span>
                </span>
                <div class="make-center w-100 mt-3">
                    <button *ngIf="supplyTotal!=0" class="login" (click)="onPay(supplyTotal)">Pay</button>
                </div>
            </div>
            <div class="history" *ngIf="isHistory">
                <div class="info" *ngFor="let history of History">
                    <span>{{history.date_time}}</span>
                    <span>{{history.amount | currency:'INR'}}</span>
                    <span>Remaining : {{0 | currency:'INR'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="load" *ngIf="isLoading">
    <span class="loader"></span>
</div>