<div class="milk-details">
    <div class="title text-center m-3">
        <h1 >Supply Milk Details</h1>
        <i class="bi bi-file-earmark-plus" (click)="onReport()"></i>
    </div>
    <div class="details row">
        <div class="detail col-md-3" *ngFor="let detail of milkDetails">
            <div class="row1">
                <span >Quantity : {{detail.milk_qnt}}</span>
                <span>{{detail.date_time}}</span>
            </div>
            <div class="row1">
                <span>Fat : {{detail.milk_fat}}</span>
                <span>Lac/Deg : {{detail.milk_lac_deg}}</span>
                <span>Snf : {{detail.milk_snf}}</span>
            </div>
            <div class="row1">
                <span>Price Per Liter : {{detail.price_per_liter}}</span>
                <span>Total Bill: {{detail.total}}</span>
            </div> 
        </div>
    </div>
</div>