


 <div class="milkCollection">
    <div class="title text-center m-3">
        <h1>Milk Collection</h1>
    </div>
    <div class="form">
        <form [formGroup]="milkForm">
            <div class="form-group">
                <label for="f_id">Select Farmer &nbsp;<span class="text-danger">*</span></label>
                <input autocomplete="off" type="text" id="f_id" (click)="toggleDropdown()" [(ngModel)]="selectedOption"
                    class="form-control" placeholder="Select Farmer" formControlName="f_id" required
                    [ngClass]="{'error':(milkForm.controls['f_id'].touched || milkForm.controls['f_id'].dirty) && (milkForm.controls['f_id'].hasError('required'))}">
            </div>
            <i class="bi bi-chevron-down" [ngClass]="{'rotate':isDropdownOpen}" (click)="toggleDropdown()"></i>

            <ul class="dropdown-list" *ngIf="isDropdownOpen">
                <li *ngFor="let farmer of FarmersList" (click)="onFarmer(farmer._id,farmer.username, farmer.email)" class="hover">{{ farmer.username }}</li>
            </ul>

            <div class="form-group">
                <label for="milk_qnt">Milk Quantity &nbsp;<span class="text-danger">*</span></label>
                <input type="number" id="milk_qnt" class="form-control" formControlName="milk_qnt"
                    placeholder="Enter Milk Quantity" required
                    [ngClass]="{'error':(milkForm.controls['milk_qnt'].touched || milkForm.controls['milk_qnt'].dirty) && (milkForm.controls['milk_qnt'].hasError('required'))}">
            </div>
            <div class="form-group">
                <label for="milk_fat">Milk Fat &nbsp;({{minFat}}&nbsp;-&nbsp;{{maxFat}}) &nbsp;<span class="text-danger">*</span></label>
                <input type="number" id="milk_fat" class="form-control" formControlName="milk_fat"
                    placeholder="Enter Milk Fat in %" required
                    [ngClass]="{'error':(milkForm.controls['milk_fat'].touched || milkForm.controls['milk_fat'].dirty) && (milkForm.controls['milk_fat'].hasError('required'))}">
            </div>
            <div class="form-group">
                <label for="milk_lac_deg">Milk Lac/Deg &nbsp; <span class="text-danger">*</span></label>
                <input type="number" id="milk_lac_deg" class="form-control" formControlName="milk_lac_deg"
                    placeholder="Enter Milk Lac/Deg in %" required
                    [ngClass]="{'error':(milkForm.controls['milk_lac_deg'].touched || milkForm.controls['milk_lac_deg'].dirty) && (milkForm.controls['milk_lac_deg'].hasError('required'))}">
            </div>
            <div class="form-group make-center">
                <button class="login" style="height: 40px;" [ngClass]="{'disabled':!milkForm.valid}" [disabled]="!milkForm.valid" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="load" *ngIf="isLoader">
    <span class="loader"></span>
</div> 