<app-header></app-header>
<section>
    <!-- <h1>LogIn</h1> -->
    <div class="loginForm">
        <form id="form1">
            <div class="form-group">
                <label for="email">Username</label><br>
                <input class="form-control" type="text" id="username" formControlName="username"
                    placeholder=" &nbsp; Enter Email/Mobile Number" required>
            </div>
            <div class="form-group">
                <label for="name">Password</label><br>
                <input class="form-control" type="password" id="name" formControlName="password"
                    placeholder=" &nbsp; Enter Password " minlength="8" required>
            </div>
            <div class="btn">
                <button class="signup mt-3">Login</button>
            </div>
        </form>
    </div>
</section>
