<div class="pendingFarmers">
    <div class="title text-center m-3">
        <h1>Payment History</h1>
    </div>
    <div class="searchbar">
        <input type="search" placeholder="Serch Farmer" style="width: 350px; border-radius: 5px;">
    </div>
    <div class="farmers row">
        <div class="pending col-md-3" *ngFor="let payment of paymentHistory" (click)="onPayment(payment)">
            <div class="row1">
                <span>{{payment.createdAt | date:'medium' }}</span>
            </div>
            <div class="row1">
                <span>Farmer : {{payment.username}}</span>
            </div>
            <div class="row1">
                <span>Amount : {{payment.payment_amount}}</span>&nbsp;&nbsp;&nbsp;
                <span>Status : <span [ngStyle]="payment.status!='SUCCESS' ? {'color': 'red'} : {'color': 'green'}" style="color: green;"> {{payment.status}}</span></span>
            </div>
        </div>
    </div>
    <div class="payment-info" (click)="onClose2()" *ngIf="isPopup">
        <div class="popup" (click)="onClose($event)">
            <div class="row1">
                <span class="border" [ngClass]="{'active1':isFarmer}" (click)="onDetails('farmer')">Farmer
                    Details</span>
                <span class="border" [ngClass]="{'active1':isMc}" (click)="onDetails('mc')">Collection Details</span>
                <span class="border" [ngClass]="{'active1':isAdvance}" (click)="onDetails('advance')">Advance
                    Details</span>
            </div>
            <div class="details" *ngIf="isFarmer">
                <span>Farmer Name : <span class="total">{{farmer.name}} </span></span><br>
                <span>Username : <span class="total">{{farmer.username}} </span></span><br>
                <span>Mobile Number : <span class="total">{{farmer.m_no}}</span></span><br>
                <span>Paid Amount : <span class="total">{{payment.payment_amount | currency:'INR'}}</span></span><br>
                <span>Status : <span class="total">{{payment.status | titlecase}}</span></span><br>
                <span>Date : <span class="total">{{payment.createdAt | date:'medium' }}</span></span><br>
            </div>
            <div class="details" *ngIf="isMc">
                <div *ngFor="let mc of milkCollections" class="detail">
                    <span>
                        <span class="total">{{mc.createdAt | date:'medium' }} </span> <br>
                        Quantity : <span class="total">{{mc.milk_qnt}}</span>&nbsp;&nbsp;&nbsp;
                        Fat : <span class="total">{{mc.milk_fat}}</span>&nbsp;&nbsp;&nbsp;
                        Lac/Deg: <span class="total">{{mc.milk_lac_deg}}</span>&nbsp;&nbsp;&nbsp;
                        SNF: <span class="total">{{mc.milk_snf}}</span><br>
                        Price/Liter: <span class="total">{{mc.price_per_liter | currency:'INR'}}</span>
                        &nbsp;&nbsp;&nbsp;
                        Total: <span class="total">{{mc.total | currency:'INR'}}</span>
                    </span>
                    <hr>
                </div>
            </div>
            <div class="details" *ngIf="isAdvance">
                <span>Farmer Name : <span class="total">{{farmer.name}} </span></span><br>
                <span>Username : <span class="total">{{farmer.username}} </span></span><br>
                <span>Mobile Number : <span class="total">{{farmer.m_no}}</span></span><br>
            </div>
        </div>
    </div>
</div>
<!-- <div class="load" *ngIf="isLoading">
    <span class="loader"></span>
</div> -->