.profile {
    display: flex;
    align-items: center;
}

.logout{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center ;
    top: 15px;
    right: 35px;
    font-size: 20px;
    color: #435184;
    cursor: pointer;
}
.bi-box-arrow-right{
   font-size: 30px;
}
.bi-person-circle {
    width: 100%;
    height: 33vh;
    font-size: 200px;
    color: #435184;
}

.img {
    display: flex;
    flex-direction: column;
}

.img span {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.left {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #FFF;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    margin: 5%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #FFF;
    border-radius: 10px;
    width: 400px;
    height: 280px;
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #FFF;
    border-radius: 10px;
    width: 400px;
    height: 280px;
    margin-top: 20px;
}

.details ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0 !important;
}

ul span {
    font-weight: 500;
}

ul li {
    font-size: 20px;
    list-style: none;
    font-weight: 600;
}

hr {
    border: 1px solid grey;
    width: 90%;
}

.bi-pencil-square {
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    margin-left: 300px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.price span {
    margin: 10px;
    font-size: 20px;
}

.price input {
    height: 35px;
    padding: 10px;
    margin: 10px;
}

form{
    width: 100%;
}
.form-group{
    margin: 20px;
}

.top i{
    position: absolute;
}


