<div class="profile">
    <div class="d-flex logout" (click)="onLogout()">
        <span>Log out</span> &nbsp;
        <i class="bi bi-box-arrow-right"></i>
    </div>
    <div class="left">
        <div class="img">
            <i class="bi bi-person-circle"></i>
            <span>{{user.username}}</span>
        </div>
        <hr>
        <div class="details" *ngIf="!isProfile">
            <i class="bi bi-pencil-square" (click)="onEdit('profile')"></i>
            <ul>
                <li><span>Name : </span>{{user.name}}</li>
                <br>
                <li><span>Mobile Number : </span>{{user.m_no}}</li>
                <br>
                <li><span>Email : </span>{{user.email}}</li>
                <br>
                <li><span>Password : </span>{{user.password}}</li>
                <br>
                <li><span>Address : </span>{{user.address}}</li>
                <br>
                <li><span>Created at : </span>{{ user.createdAt | date:'medium' }}</li>
                <br>
            </ul>
        </div>
        <h3 *ngIf="isProfile" style="margin-bottom: -10px;">Edit Profile</h3>
        <form [formGroup]="profileForm" *ngIf="isProfile">
            <div class="form-group m-2">
                Name
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group m-2">
                Password
                <input type="text" class="form-control" formControlName="password">
            </div> 
            <div class="form-group m-2">
                Address
                <input type="text" class="form-control" formControlName="address">
            </div>
            <div class="make-center">
                <button class="login" style="width: 120px; height:40 px;" (click)="onCancel()">Cancel</button>&nbsp;&nbsp;&nbsp;
                <input type="submit" style="width: 120px; height:40 px;" class="signup" (click)="onSubmit()">
            </div>
        </form>
    </div>
    <div class="right">
        <div class="top">
            <div style="width: 90%;">
                <h2>Last 7 days milk supply</h2>
                <canvas id="piechart"></canvas>
            </div>
        </div>
        <div class="bottom">
            <div style="width: 90%;">
                <h2>Last 7 days bill</h2>
                <canvas id="piechart2"></canvas>
            </div>
        </div>
    </div>
</div>