<div class="profile">
    <div class="left">
        <div class="img">
            <i class="bi bi-person-circle"></i>
            <span>{{user.name}}</span>
        </div>
        <hr>
        <div class="details">
            <i class="bi bi-pencil-square" (click)="onEdit()"></i>
            <ul>
                <li><span>Name : </span>{{user.name}}</li>
                <br>
                <li><span>Email : </span>{{user.email}}</li>
                <br>
                <li><span>Mobile Number : </span>{{user.m_no}}</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="top">
            <h2 style="margin-top: -100px;">Notifications</h2>
            <div class="price">
                <span>Number Of Farmers : <b>{{farmerCount}}</b></span>
                <span>Pending Approvals : <b>{{pendingApprovals}}</b></span>
            </div>
        </div>
        <div class="bottom">
            <h2 style="margin-top: -70px;">Todays Details</h2>
            <div class="price">
                <span>Base Price :<b> {{baseprice | currency:'INR'}}</b></span>
                <span>Milk Collection Count : <b>{{milkCollCount}} </b></span>
                <span>Total Milk Collected in Liters : <b> {{totalMilk}} liters </b></span>
            </div>
        </div>
    </div>
</div>