/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro;
    font-style: normal;
    line-height: normal;
    color: #435184;
}
.make-center{
  display: flex;
    align-items: center;
    justify-content: center;
}
.rotate{
  transform: rotate(180deg);
}

.signup {
    width: 180px;
    height: 45px;
    border: none;
    background: linear-gradient(180deg, #4D71EF 0%, #091618 100%);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
}

.login {
    width: 180px;
    height: 45px;
    border: none;
    border:2px solid  #435184;
    background:transparent;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #435184;
    border-radius: 8px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled{
    opacity: 0.5;
}

.error{
    border: 1px solid red;
}
.success{
  border: 1px solid green;
}

.form-control:focus {
    box-shadow: none;
}

label{
    font-weight: 600;
}

/* loader */
.load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 100%;
    width: 88px;
    height: 88px;
    color: #435184;
    z-index: 1001;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 100%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #435184;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

  input.large {
    width: 18px;
    height: 18px;
  }