    <div class="dashboard">
        <div class="sidebar">
            <div class="logo">
                <img src="../../assets/logo.png" alt="" style="height: 100px;">
                <p class="heading">MilkHarbor</p>
            </div>
            <div class="sidebar-item" routerLink="profile" routerLinkActive="active">
                <p>Farmer Profile</p>
            </div>
            <div class="sidebar-item" routerLink='supply-milk-details' routerLinkActive="active">
                <p>Supply Milk Details</p>
            </div> 
            <div class="sidebar-item" routerLink='advance-details' routerLinkActive="active">
                <p>Advance Details</p>
            </div>
            <div class="sidebar-item" routerLink='payment' routerLinkActive="active">
                <p>Payment Details</p>
            </div>
        </div>
        <div class="body">
            <router-outlet></router-outlet>
        </div>
    </div>
    